@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: 30 58 138; 
  }
  .bg-primary-400 {
    background-color: rgb(var(--color-primary));
  }
  .text-primary-400 {
    color: rgb(var(--color-primary) );
  }
  .border-primary-400 {
    border-color: rgb(var(--color-primary));
  }
}


